/** Sign '☮' The Times. By Roy Curtis, MIT license, 2018 */

@import "timeline.styl"

// CSS reset

*
  margin     0
  padding    0
  box-sizing border-box

body, html
  background  #000
  font-family "Times New Roman", serif
  width       100%
  height      100%
  overflow    hidden

// Classes

full-size()
  width  100%
  height 100%

full-screen(z = 0)
  full-size()
  position absolute
  left     0
  top      0
  z-index  z

center-content()
  align-items     center
  justify-content center

triangle(width, height, color)
  border-style solid
  border-width height (width / 2) 0 (width / 2)
  border-color color transparent transparent transparent
  width        width
  height       height

heart(width, height, color)
  background-color color
  display          block
  transform        rotate(-45deg)
  width            width
  height           height

  &:before,
  &:after
    content          ""
    background-color color
    border-radius    50%
    position         absolute
    width            width
    height           height

  &:before
    top  -(width / 2)
    left 0

  &:after
    top  0
    left (width / 2)

// Scenes

.triangle-edge
  background #454545
  display    flex
  z-index    100

  > triangle
    triangle(6vmax, 6vmax, #000)

  &.north, &.south
    position        absolute
    width           100%
    height          6vmax
    left            0
    justify-content center

  &.west, &.east
    position absolute
    width    6vmax
    height   100%
    align-items center
    top      0

  &.north
    top 0

  &.south
    bottom 0
    transform rotate(180deg)

  &.west
    left 0
    > triangle
      transform rotate(270deg)

  &.east
    right 0
    > triangle
      transform rotate(90deg)

.o
  full-screen()
  center-content()
  display   flex
  color     #5C5C5C
  font-size 12vmin

.yeah
  full-size()
  display         flex
  color           #BF6060
  position        absolute
  top             -80%
  left            5%
  font-size       0
  justify-content center
  align-items     center

.purple-grid
  full-screen()

  td
    border 1px solid #6F2878
    width  0
    height 0

    &.middle
      width  100%
      height 100%

.triangle-zoom
  full-screen()
  center-content()
  display flex

  triangle
    triangle(150vmax, 150vmax, #FBC37C)
    transform scale(0)

.heart-zoom
  full-screen()
  center-content()
  display flex

  div
    transform scale(0)

  heart
    heart(100vmax, 100vmax, #FF2090)

.disease-scene
  full-screen()
  center-content()
  display    flex
  background white
  opacity    0

  .peach-square
    background #FFBA8B
    width  2vmax
    height 2vmax

  span
    full-screen()
    center-content()
    display   flex
    font-size 0