/** Sign '☮' The Times. By Roy Curtis, MIT license, 2018 */
.triangle-edge {
  animation: triangle-bg-blink 2s steps(1) 1.5s infinite;
}
.triangle-edge.north > triangle {
  animation: triangle-blink 2s steps(1) 0s infinite;
}
.triangle-edge.east > triangle {
  animation: triangle-blink 2s steps(1) 0.5s infinite;
}
.triangle-edge.south > triangle {
  animation: triangle-blink 2s steps(1) 1s infinite;
}
.triangle-edge.west > triangle {
  animation: triangle-blink 2s steps(1) 1.5s infinite;
}
.o {
  animation: o-grow 9.5s ease-out 0s 1 normal forwards, o-glow 2s steps(1) 0s infinite normal forwards, appear-disappear 1s linear 12s reverse forwards;
}
.yeah {
  animation: yeah-zoom 1s linear 9.75s forwards;
}
.purple-grid td.middle {
  animation: close-open 5.75s linear 12s forwards;
}
.purple-grid td.corner {
  animation: close-open-half 5.75s linear 12s forwards reverse;
}
.triangle-zoom triangle {
  animation: triangle-zoom 5s ease-out 18.75s forwards;
}
.heart-zoom div {
  animation: heart-zoom 5.2s ease-out 23.75s forwards;
}
.disease-scene {
  animation: appear-disappear 0s 28.95s forwards;
}
.disease-scene span:nth-child(1) {
  animation: lyric-zoom 0.6s ease-out 28.65s forwards;
}
.disease-scene span:nth-child(2) {
  animation: lyric-zoom 0.6s ease-out 28.95s forwards;
}
.disease-scene span:nth-child(3) {
  animation: lyric-zoom 0.6s ease-out 29.25s forwards;
}
.disease-scene span:nth-child(4) {
  animation: lyric-zoom 0.6s ease-out 29.55s forwards;
}
.disease-scene span:nth-child(5) {
  animation: lyric-zoom 0.6s ease-out 29.849999999999998s forwards;
}
.disease-scene span:nth-child(6) {
  animation: lyric-zoom 0.6s ease-out 30.15s forwards;
}
.disease-scene span:nth-child(7) {
  animation: lyric-zoom 0.6s ease-out 30.45s forwards;
}
.disease-scene span:nth-child(8) {
  animation: lyric-zoom 0.6s ease-out 30.75s forwards;
}
.disease-scene span:nth-child(9) {
  animation: lyric-zoom 0.6s ease-out 31.049999999999997s forwards;
}
.disease-scene span:nth-child(10) {
  animation: lyric-zoom 0.6s ease-out 31.349999999999998s forwards;
}
.disease-scene span:nth-child(11) {
  animation: lyric-zoom 0.6s ease-out 31.65s forwards;
}
.disease-scene span:nth-child(12) {
  animation: lyric-zoom 0.6s ease-out 31.95s forwards;
}
.disease-scene span:nth-child(13) {
  animation: lyric-zoom 0.6s ease-out 32.25s forwards;
}
.disease-scene span:nth-child(14) {
  animation: lyric-zoom 0.6s ease-out 32.55s forwards;
}
.disease-scene span:nth-child(15) {
  animation: lyric-zoom 0.6s ease-out 32.85s forwards;
}
.disease-scene span:nth-child(16) {
  animation: lyric-zoom 0.6s ease-out 33.15s forwards;
}
.disease-scene span:nth-child(17) {
  animation: lyric-zoom 0.6s ease-out 33.45s forwards;
}
.disease-scene span:nth-child(18) {
  animation: lyric-zoom 0.6s ease-out 33.75s forwards;
}
.disease-scene span:nth-child(19) {
  animation: lyric-zoom 0.6s ease-out 34.05s forwards;
}
.disease-scene span:nth-child(20) {
  animation: lyric-zoom 0.6s ease-out 34.35s forwards;
}
.disease-scene span:nth-child(21) {
  animation: lyric-zoom 0.6s ease-out 34.65s forwards;
}
.disease-scene span:nth-child(22) {
  animation: lyric-zoom 0.6s ease-out 34.95s forwards;
}
.disease-scene span:nth-child(23) {
  animation: lyric-zoom 0.6s ease-out 35.25s forwards;
}
.disease-scene span:nth-child(24) {
  animation: lyric-zoom 0.6s ease-out 35.55s forwards;
}
.disease-scene span:nth-child(25) {
  animation: lyric-zoom 0.6s ease-out 35.85s forwards;
}
.disease-scene span:nth-child(26) {
  animation: lyric-zoom 0.6s ease-out 36.15s forwards;
}
.disease-scene span:nth-child(27) {
  animation: lyric-zoom 0.6s ease-out 36.45s forwards;
}
.disease-scene span:nth-child(28) {
  animation: lyric-zoom 0.6s ease-out 36.75s forwards;
}
.disease-scene span:nth-child(29) {
  animation: lyric-zoom 0.6s ease-out 37.05s forwards;
}
.disease-scene span:nth-child(30) {
  animation: lyric-zoom 0.6s ease-out 37.35s forwards;
}
.disease-scene span:nth-child(31) {
  animation: lyric-zoom 0.6s ease-out 37.65s forwards;
}
@keyframes triangle-blink {
  0% {
    border-color: #068bff transparent transparent transparent;
  }
  6% {
    border-color: #000 transparent transparent transparent;
  }
}
@keyframes triangle-bg-blink {
  0% {
    background: #454545;
  }
  6% {
    background: #ff3a70;
  }
  12% {
    background: #454545;
  }
}
@keyframes o-grow {
  to {
    font-size: 94vmin;
  }
}
@keyframes o-glow {
  0% {
    text-shadow: 0 -2px #068bff;
  }
  6% {
    text-shadow: none;
  }
  25% {
    text-shadow: 2px 0 #068bff;
  }
  31% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 2px #068bff;
  }
  56% {
    text-shadow: none;
  }
  75% {
    text-shadow: -2px 0 #068bff;
  }
  81% {
    text-shadow: none;
  }
}
@keyframes appear-disappear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes yeah-zoom {
  0% {
    opacity: 1;
    top: -80%;
    font-size: 750vmin;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
    font-size: 0;
  }
}
@keyframes close-open {
  from {
    width: 100%;
    height: 100%;
  }
  to {
    width: 0;
    height: 0;
  }
}
@keyframes close-open-half {
  from {
    width: 50%;
    height: 50%;
  }
  to {
    width: 0;
    height: 0;
  }
}
@keyframes triangle-zoom {
  from {
    transform: scale(1.5) rotate(100deg);
  }
  to {
    transform: scale(0) rotate(180deg);
  }
}
@keyframes heart-zoom {
  from {
    transform: scale(1) rotate(-45deg);
  }
  to {
    transform: scale(0) rotate(0deg);
  }
}
@keyframes lyric-zoom {
  from {
    font-size: 40vmin;
  }
  to {
    font-size: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background: #000;
  font-family: "Times New Roman", serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.triangle-edge {
  background: #454545;
  display: flex;
  z-index: 100;
}
.triangle-edge > triangle {
  border-style: solid;
  border-width: 6vmax 3vmax 0 3vmax;
  border-color: #000 transparent transparent transparent;
  width: 6vmax;
  height: 6vmax;
}
.triangle-edge.north,
.triangle-edge.south {
  position: absolute;
  width: 100%;
  height: 6vmax;
  left: 0;
  justify-content: center;
}
.triangle-edge.west,
.triangle-edge.east {
  position: absolute;
  width: 6vmax;
  height: 100%;
  align-items: center;
  top: 0;
}
.triangle-edge.north {
  top: 0;
}
.triangle-edge.south {
  bottom: 0;
  transform: rotate(180deg);
}
.triangle-edge.west {
  left: 0;
}
.triangle-edge.west > triangle {
  transform: rotate(270deg);
}
.triangle-edge.east {
  right: 0;
}
.triangle-edge.east > triangle {
  transform: rotate(90deg);
}
.o {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #5c5c5c;
  font-size: 12vmin;
}
.yeah {
  width: 100%;
  height: 100%;
  display: flex;
  color: #bf6060;
  position: absolute;
  top: -80%;
  left: 5%;
  font-size: 0;
  justify-content: center;
  align-items: center;
}
.purple-grid {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.purple-grid td {
  border: 1px solid #6f2878;
  width: 0;
  height: 0;
}
.purple-grid td.middle {
  width: 100%;
  height: 100%;
}
.triangle-zoom {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}
.triangle-zoom triangle {
  border-style: solid;
  border-width: 150vmax 75vmax 0 75vmax;
  border-color: #fbc37c transparent transparent transparent;
  width: 150vmax;
  height: 150vmax;
  transform: scale(0);
}
.heart-zoom {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}
.heart-zoom div {
  transform: scale(0);
}
.heart-zoom heart {
  background-color: #ff2090;
  display: block;
  transform: rotate(-45deg);
  width: 100vmax;
  height: 100vmax;
}
.heart-zoom heart:before,
.heart-zoom heart:after {
  content: "";
  background-color: #ff2090;
  border-radius: 50%;
  position: absolute;
  width: 100vmax;
  height: 100vmax;
}
.heart-zoom heart:before {
  top: -50vmax;
  left: 0;
}
.heart-zoom heart:after {
  top: 0;
  left: 50vmax;
}
.disease-scene {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #fff;
  opacity: 0;
}
.disease-scene .peach-square {
  background: #ffba8b;
  width: 2vmax;
  height: 2vmax;
}
.disease-scene span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 0;
}
/*# sourceMappingURL=css/index.css.map */